@model CGrimmettPortfolio.Models.EmailModel
@{
    ViewBag.Title = "Contact";
}

<section id="last">
    <div class="grid-100 text-center">
        <div class="grid-container">

            <div class="row">
                <h2 class="margin-top-0 wow fadeIn">Get in Touch</h2>
                <hr class="primary">
                <p>Please contact! Fill out the form below and I'll get back to you as soon as possible.</p>
            </div>
        </div>
    </div>
    <div class="grid-100 text-center">
        <div class="grid-container">
            <div class="grid-50">
                @using (Html.BeginForm(new { @class = "contact-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="form-group center-block">
                        @*@Html.LabelFor(m => m.FromName, new { @class = "col-md-2 control-label"  })*@
                        @Html.TextBoxFor(m => m.FromName, new { @class = "form-control", placeholder = "Name" })
                        @Html.ValidationMessageFor(m => m.FromName)
                        <br />
                        @*@Html.LabelFor(m => m.FromEmail, new { @class = "col-md-2 control-label" })*@
                        @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "Email" })
                        @Html.ValidationMessageFor(m => m.FromEmail)
                        <br />
                        @*@Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })*@
                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
                        @Html.ValidationMessageFor(m => m.Subject)
                        <br />
                        @*@Html.LabelFor(m => m.Body, new { @class = "col-md-2 control-label" })*@

                        <textarea class="form-control" name="body" rows="5" placeholder="Type message here..."></textarea>
                        @*@Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control", placeholder = "example@email.com" })*@

                    </div>
                    <div class="grid-50">
                        <input type="submit" class="btn btn-primary btn-block btn-lg pull-right" value="Send" />
                    </div>
                }
            </div>

            <div class="grid-50 center-block">
                <img src="/template/assets/rayi-christian-wicaksono-366.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</section>







@*<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="left:auto;">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">Nice Job!</h2>
                <p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
                <br />
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
            </div>
        </div>
    </div>
</div>*@